.ReactRevelaMenu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-block: 0.3rem;
    padding: 1.5rem 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
    flex-wrap: wrap;
    .ReactRevelaMenu__item{
        color: #333;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s linear 0s;
        margin: 0.25rem 1.5rem;
        &:hover{ color: #0d9953; }
    }
}